# ======================================
# Application
# ======================================

APP_NAME=JobTrack
APP_ENV=dev

# ======================================
# Backend
# ======================================

BACKEND_PORT=8000
SERVER_NAME=:80

# ======================================
# Database
# ======================================

POSTGRES_DB=jobtrack
POSTGRES_USER=jobtrack
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432